PORT=8080
DATABASE_URL=postgresql://postgres:password@localhost:5432/rewardhub_pk
JWT_SECRET=rewardhub_pk_production_secret_key_2026_9988776655
NEXT_PUBLIC_APP_NAME="RewardHub Pakistan"
NEXT_PUBLIC_APP_URL="http://localhost:8080"
